<% if @order_address.errors.any? %>
  <div class="error-messages">
    <ul>
      <% @order_address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
